.menu_attempt{
 max-width: 10vw;
}


.menu_container{
  /*flex: 4;*/
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 10vw;
  padding-right: 3vw;
  max-height: 100vh;
  align-items: space-around;
  /*flex: 0.5;*/

}

.menu_wrapper {
  align-self: right;
  flex: 0.5;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding-right: 0px;
}

@media (max-width: 800px) {
  .menu_wrapper {
    align-self: right;
    flex: 0.5;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 20px;
  }
}
.menu_icon{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6vh;
  padding-top: 4vh;
  cursor: pointer;
  /*margin-bottom: 13vh;*/
}

@media (max-height: 600px) {
  .menu_icon{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 6vh;*/
    padding-top: 4vh;
    cursor: pointer;
    /*margin-bottom: 13vh;*/
  }
}

.menu_bold{
  text-align: center;
  font-family : Roboto;
  font-weight : bold;
  font-size : 14px;
  line-height : 15px;
  letter-spacing : 4px;
  color : #231F20;
  color : rgb(35, 31, 32);
  padding-top: 1vh;

}

.profile
{
/*background-image : url('./public/profile.png');
background-repeat : no-repeat;*/
border-style: solid;
border-color: black;
border-width: 5px;
border-radius: 50%;
max-width:100px;
max-height:100px;

}


.icon{
  /*max-width:70px;
  max-height:70px;*/
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.icon_toobig{
  /*max-width:50px;
  max-height:50px;*/
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;

}


.menu_icon:hover{
  opacity: 0.5;
}
