.RankingsContainer{
  flex-direction: column;
  display: flex;
  /*flex: 1;*/
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  margin-left: 7%;
  margin-top: 3vh;
  border: 1px solid #4095AA;
  height: 93vh;
  border-radius : 15px;
  -moz-border-radius : 14px  / 15px;
  -webkit-border-radius : 14px  / 15px;
  -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
}

.Rankings_header{
  display: flex;
  align-items: center;
  flex: 0.3;
  width: 100%;
  padding: 25px 25px 0px 25px;
}

.header_text{
  flex: 5;
  display: flex;
  font-family: Roboto;
  font-weight : bold;
  /*font-size: 1.5vw;*/
  font-size: 45px;
  /*line-height: 2.7vw;*/
  /*line-height: 50px;*/
  letter-spacing : 0.05vw;
  color : #4095AA;

}

.rankings_arrow{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /*transform: rotate(90deg);*/
  /*margin-left: 58%;*/
  cursor: pointer;
}
.icon_ranking_arrow{
  text-align: right;
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
  /*margin-left: 58%;*/
  cursor: pointer;
}

.rankings_arrow:hover{
  opacity: 0.5;
  pointer: cursor;
}
.rankings_subjects{
  width: 100%;
  flex: 0.1;
  /*display: flex;*/
  padding: 25px;
  border-bottom: solid 1px #e8e8e8;
  /*align-items: center;
  justify-content: center;*/
}

.ranking_topic{
  cursor: pointer;
  /*flex: 1;*/
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: #4095AA;
}

@media (max-width: 992px) {
  .ranking_topic{
    cursor: pointer;
    /*flex: 1;*/
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
  }

}

.ranking_topic:hover{
  /*font-size: 15px;*/
  opacity: 0.5;
}

.rankings_container{
  flex: 5;
  overflow: scroll;
  display: flex;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /*padding: 0px 10px 0px 10px;*/
  flex-direction: column;
  background-color: lightgrey;
}

.ranking{
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  /*margin: 5px 0px 5px 0px;*/
  background-color: white;
  border-radius: 3px;
  border-top: 2px solid #4095AA;
  padding: 20px;


}

.ranking_name{
  flex: 5;

}

.ranking_number{
  flex: 1
}

.ranking_text{
  letter-spacing: 1px;
  font-family: Roboto;
  font-weight : bold;
  font-size: 2vh;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
